.about {
  padding: 84px 0;
}
.about-list {
  display: none;
}

.about .title-label {
  color: $text-color-main;
}

.about-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $text-color-main;
  margin-bottom: 20px;
}

.about-comment {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: $text-color-on-light;
  margin-bottom: 20px;
}

.about-description {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: $text-color-on-light;
  margin-bottom: 40px;
}
.about-btn {
  color: $text-color-main;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    padding: 100px 0;
  }

  .about-description {
    width: 330px;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .about-item:first-child {
    margin-bottom: 30px;
  }

  .about-img {
    width: 330px;
    height: 235px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 130px 0;
  }

  .about-description {
    width: 500px;
    margin-bottom: 42px;
  }

  .about-title {
    font-size: 42px;
    line-height: 1.16;
  }

  .about-comment {
    font-size: 18px;
    line-height: 1.66;
  }

  .about-list {
    flex-direction: row;
  }
  .about-item:first-child {
    margin-right: 30px;
  }
  .about-item:last-child {
    margin-right: 64px;
  }

  .about-img {
    width: 270px;
    height: 445px;
  }
}
