// #reserve {
//   background-color: black;
// }

#contacts {
  background-color: black;
}

.reserve {
  padding: 84px 0;
  background-color: $bg-color-dark;
}

.reserve .title {
  color: white;
}

.contacts {
  padding: 84px 0;
  background-color: $bg-color-dark;
  background-image: url(../images/contact-img.png);
}

.contacts .title {
  color: white;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}
.address-link {
  color: $text-color-on-dark;
}

.mail {
  text-decoration: underline;
}

.contacts .title-label {
  color: white;
}

.contacts .title-label::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.work-time {
  color: $text-color-on-dark;
}

@media screen and (min-width: 720px) {
  .contacts-info {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .reserve {
    padding: 130px 0;
    width: 50%;
  }

  .contacts {
    padding: 130px 0;
    padding-left: 100px;
  }
  .contacts-container {
    display: flex;
  }

  .contacts-info {
    display: block;
  }
}
