#contacts {
  background-color: $bg-color-dark;
  position: relative;
}

.reserve-bg {
  position: absolute;
  height: 50%;
  z-index: -1;
  background-color: $bg-color-dark;
}

.contacts-bg {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  background-image: url(../images/contact-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reserve {
  padding: 84px 0;
}

.reserve .title {
  color: white;
  text-align: center;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  outline: transparent;
  color: #fff;
}

.form-input.message-input {
  margin-bottom: 44px;
}

.contacts {
  padding: 84px 0;
}

.contacts .title {
  color: white;
  text-align: center;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.address-list {
  margin-bottom: 44px;
  text-align: left;
}

.address-link {
  color: $text-color-on-dark;
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}

.mail {
  text-decoration: underline;
}

.contacts .title-label {
  color: white;
  margin-bottom: 20px;
}

.contacts .title-label::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.work-time {
  color: $text-color-on-dark;
}

@media screen and (min-width: 720px) {
  .reserve {
    padding: 100px 0;
  }

  .reserve .title {
    text-align: left;
  }

  .contacts {
    padding: 100px 0;
  }

  .contacts .title {
    text-align: left;
  }

  .contacts-info {
    display: flex;
  }

  .address {
    width: 50%;
  }

  .address-list {
    margin-right: 30px;
    width: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .reserve-bg {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: -1;
    background-color: $bg-color-dark;
  }

  .contacts-bg {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;

    background-image: url(../images/contact-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .reserve {
    padding: 130px 0;
    width: 50%;
  }

  .contacts {
    padding: 130px 0;
    padding-left: 100px;
  }
  .contacts-container {
    display: flex;
  }

  .contacts-info {
    display: block;
  }

  .address-list {
    margin-right: 0;
    margin-bottom: 70px;
  }
}
