.footer {
  padding: 44px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $text-color-on-dark;
}

.footer-soc-list {
  display: flex;
  align-items: center;
}

.footer-soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: $text-color-main;
}

.footer .menu-soc-item:not(:last-child) {
  margin-right: 40px;
}

.footer .soc-link {
  color: $text-color-main;
}

.footer .soc-link:hover,
.footer .soc-link:focus {
  color: $accent-color;
}

@media screen and (min-width: 720px) {
  .footer {
    padding: 56px 0;
  }
}
