#header {
  position: absolute;
  width: 100vw;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.logo-link {
  margin-right: auto;
  width: 69px;
  height: 55px;
  background-image: url(../../images/logoBS.png);
  background-size: contain;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: none;
  justify-content: center;
  align-items: center;
}

.navigation-item {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
  .logo-link {
    background-image: url(../../images/logoDark.svg);
  }
  .menu-tel {
    color: lawngreen;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-item {
    margin-right: 40px;
    color: lawngreen;
  }
}
