#hero {
  background: $bg-color-dark;
}

#hero .container {
  display: flex;
}

.side-bar {
  flex-basis: 97px;
  background-color: #ffffff;
  display: none;
}

.side-bar .soc-link {
  color: $text-color-main;
}

.side-bar .soc-link:hover,
.side-bar .soc-link:focus {
  color: $accent-color;
}

.hero {
  flex-grow: 1;
  background: $bg-color-dark;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../../images/hero-img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 208px;
  padding-right: 48;
  padding-bottom: 183px;
  padding-left: 31px;
}

.hero .title-label {
  color: hsla(227, 20%, 68%, 0.6);
}

.hero .title-label::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: $text-color-on-dark;
  max-width: 306px;
}

.slide-btn {
  display: none;
}

@media screen and (min-width: 720px) {
  #hero {
    background-color: transparent;
  }

  .hero {
    padding-top: 280px;
    padding-left: 70px;
    padding-right: 36px;
    padding-bottom: 34px;
  }
  .hero .title-label::before {
    width: 65px;
  }

  .hero-comment {
    margin-bottom: 170px;
    max-width: 353px;
  }

  .side-bar {
    display: flex;
  }
  .slider {
    display: flex;
    justify-content: end;
  }

  .slide-btn {
    display: flex;
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: right;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  .slide-btn.right {
    text-align: right;
  }
  .slide-btn.left {
    text-align: left;
    margin-right: 25px;
  }
  .slide-btn.disabled {
    color: rgba(157, 164, 189, 0.6);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-left: 96px;
    padding-top: 272px;
    padding-right: 48px;
  }
  .hero .title-label::before {
    width: 63px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
  .hero-comment {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 142px;
    max-width: 400px;
  }
}
