#prices {
  background: $bg-color-dark;
}

.prices {
  padding: 84px 0;
}

.prices .title-label {
  color: rgba(157, 164, 189, 0.6);
}

.prices .title {
  color: #ffffff;
}

.prices-list {
  padding: 30px 0;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: $text-color-on-dark;
  margin-bottom: 20px;
}

.prices .btn {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .prices-item {
    font-size: 18px;
    line-height: 1.66;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    padding: 130px 0;
  }

  .prices-list {
    height: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .prices-item {
    width: 50%;
  }
  .prices-item:nth-child(4n) {
    margin-bottom: 0;
  }
}
